{
    "presets": [
      ["env", {
        "modules": false,
        "targets": {
          "browsers": [
              "Firefox >= 30",
              "Safari >= 7",
              "Chrome >= 30",
              "ie 9"
            ]
        }
      }]
    ],
    "plugins": [
        "external-helpers",
        "transform-es2015-spread",
        "transform-object-rest-spread"
    ]
  }